// brand colors
$brand-primary: #fa7252;
$brand-white: #ffffff;
$brand-black: #000000;

// text colors
$text-body-copy: #828282;
$text-headline: #565656;
$text-subhead: #aa9f9d;

// ui colors
$ui-card-background-grey: #f7f7f7;
$ui-outline-grey: #dcdcdc;
$ui-section-grey: #fbfbfd;
$ui-slider-bullet-grey: #d8d8d8;
$ui-shadow-color: #acacac;
$ui-solid-button-hover: #EB5A38;

// ui shadow settings
$ui-shadow-opacity: 0.5;
$ui-shadow-blur: 24px;
$ui-shadow-offset-x: 6px;
$ui-shadow-offset-y: $ui-shadow-offset-x;

// fonts
$brand-font-body-copy: "proxima-nova", 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$brand-font-headline: "brandon-grotesque", 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$brand-font-button: $brand-font-headline;

// spacing
$brand-spacing-level-1: 48px;
$brand-spacing-level-2: $brand-spacing-level-1 * 2;
$brand-spacing-level-3: $brand-spacing-level-1 * 3;

$ui-radius: 4px;
$ui-radius-circle: 9999px;