p.padded-bottom {
  padding-bottom: $brand-spacing-level-1;
}

.rounded { border-radius: $ui-radius-circle; }

img.profile {
  width: 64px;
  height: 64px;
}

p.limit-width-center {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}