@charset 'utf-8';

@import "brand-design-tokens";

@mixin brand-shadow($shadow-color: $ui-shadow-color, $shadow-opacity: $ui-shadow-opacity) {
  box-shadow: $ui-shadow-offset-x $ui-shadow-offset-y $ui-shadow-blur rgba($ui-shadow-color, $ui-shadow-opacity);
}

// project specific above

@import 'brand-settings';
// @import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
@include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
@include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// Project specific below

@import "foundation-overrides";
@import "helpers";

@import "pages/about";
@import "pages/work-item";

@import "components/button-group-radius";
@import "components/navigation";
@import "components/menu-colors";
@import "components/section";
@import "components/hr";
@import "components/hero";
@import "components/footer";
@import "components/flex-fill";
@import "components/featured-work";
@import "components/marvel-embed";
@import "components/testimonials";
@import "components/promo-block-work";

@import "components/slick";
@import "components/slick-theme";

// @import "styleguide";


// particle prototype below

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
  z-index: 9999;
}
