.button-group-radius {
  @include button-group(a);
  @include breakpoint(medium up) {
    a { min-width: 160px; }
  }
  a:nth-child(1) { 
    border-top-left-radius: $ui-radius;
    border-bottom-left-radius: $ui-radius;
    border-right: none;
  }
  a:nth-last-child(1) { 
    border-top-right-radius: $ui-radius;
    border-bottom-right-radius: $ui-radius;
  }
  a {
    padding-left: 20px;
    padding-right: 20px;
  }
}