html,
body, 
.off-canvas,
.off-canvas-content {
  height: 100%;
  margin: 0
}

// TODO: need mobile media query
.flex-fill {
  padding: 0;
  height: calc(100% - 344px);
  &.no-footer { height: calc(100% - 156px); }
  @include breakpoint (small only) {
    height: calc(100% - 210px);
    &.no-footer { height: calc(100% - 110px); }
  }
  .row { height: 100%; }
}