.hero {
  text-align: center;
  padding-top: $brand-spacing-level-3;
  padding-bottom: $brand-spacing-level-3;

  @include breakpoint(small only) {
    padding-top: $brand-spacing-level-1;
    padding-bottom: $brand-spacing-level-1;
  }
  h1 { margin-bottom: 12px; }
  p { margin-bottom: 20px; }

  a {
    font-size: 16px;
    line-height: 20px;
    padding: 16px 22px 15px 22px;
  }
  
  a img {
    position: relative;
    top: -2px;
    margin-right: 10px;
  }

  h1 strong {
    color: $primary-color;
  }
}