@mixin nav-hover($element-color) {
  transition: $button-transition;
  &:hover {
    color: scale-color($element-color, $lightness: -15%);
  }
}

nav.main a { font-size: 13px; }
nav.footer, nav.mobile { font-size: 14px; }

nav.main, nav.footer, nav.mobile {
  a:not(.button) {
    @include nav-hover($text-body-copy);
    text-transform: uppercase;
    color: $text-body-copy;
    font-family: $brand-font-headline;
    font-weight: $brand-font-weight-medium;
    transition: color .3s;
    &:hover { color: $brand-primary; }
  }
  li.active a {
    color: $brand-primary;
    background:none;
    transition: color .3s;
    &:hover {
      color:$ui-solid-button-hover;
    }
  }
}



nav.main, nav.footer {
  padding-top: 36px;
  padding-bottom: 48px;

  li.active a.button {
    color: $brand-primary;
    background:none;
    transition: border-color .3s;
    border-color: $ui-outline-grey;
    &:hover { border-color: $brand-primary; }
  }
  li a:not(.button){
    padding: 0;
    margin-right: $brand-spacing-level-1;
  }
  li a { margin-top: 13px; }
  li a.button {
    margin-top: 12px;
    padding: 17px 38px 16px 38px;
    color: $white;
    border-radius: $ui-radius;
    transition: $button-transition;
  }
}

nav.main {
  @include breakpoint(small only) {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 25px;
    .logo 
    img {
      height: 60px;
      width: 60px;
    }
  }
}

.mobile-nav-button {
  position: relative;
  float: right;
  // top: 0px;
  // right: 15px;
  padding-top: 48px;
  padding-right: 50px;
  color: $text-body-copy;
  font-size: 12px;
  font-family: $brand-font-headline;
  // margin-right: 20px;
  &:hover {
    color: $text-body-copy;
  }
  img {
    position: absolute;
    right: 25px;
    top: 48px;
    // top: 48px;

  }
}

nav.footer {
  padding-top: 60px;
  padding-bottom: 14px;
  @include breakpoint(medium up) {
    li:nth-last-child(1) a { margin-right: 0; }
  }
  @include breakpoint(small only) {
    li a {
      margin-right: 0 !important;
    }
  }
}

nav.social {
  padding-top: 60px;
  ul li a {
    margin-right: 30px;
    padding: 0;
  }
  ul li:nth-last-child(1) a { margin-right: 0; }
}




.svg-logo {
  #mh-logo-background {
    fill: $brand-primary;
    transition: fill .3s;
  }
  &:hover {
    #mh-logo-background {
      fill:$ui-solid-button-hover;
    }
  }
}
