@mixin nav-hover($element-color) {
  transition: $button-transition;
  &:hover {
    color: scale-color($element-color, $lightness: -15%);
  }
}

nav.main, nav.footer, nav.mobile {
  a {
    @include nav-hover($text-body-copy);
    text-transform: uppercase;
    color: $text-body-copy;
  }
  li.active a {
    @include nav-hover($primary-color);
    color: $brand-primary;
    background:none;
  }
}

nav.main, nav.footer {
  padding-top: 36px;
  padding-bottom: 48px;

  li.active a.button {
    color: $brand-primary;
    background:none;
    border-color: $ui-outline-grey;
  }
  li a:not(.button){
    padding: 0;
    margin-right: $brand-spacing-level-1;
  }
  li a { margin-top: 20px; }
  li a.button {
    margin-top: 12px;
    padding: 15px $brand-spacing-level-1;
    color: $white;
    border-radius: $ui-radius;
  }
}

nav.main {
  @include breakpoint(small only) {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.mobile-nav-button {
  position: absolute;
  top: 0px;
  right: 15px;
  padding-top: 26px;
}

nav.footer {
  padding-top: 60px;
  padding-bottom: 14px;
  @include breakpoint(medium up) {
    li:nth-last-child(1) a { margin-right: 0; }
  }
  @include breakpoint(small only) {
    li a {
      margin-right: 0 !important;
    }
  }
}

nav.social {
  padding-top: 60px;
  ul li a {
    margin-right: 30px;
    padding: 0;
  }
  ul li:nth-last-child(1) a { margin-right: 0; }
}


