section {
  @include breakpoint (small only) {
    img {
      margin-bottom: 15px;
    }
  }
  padding-top: $brand-spacing-level-2;
  padding-bottom: $brand-spacing-level-2;
  @include breakpoint (small only) {
    padding-top: $brand-spacing-level-1 * 1.5;
    padding-bottom: $brand-spacing-level-1 * 1.5;
  }
  h1, h2, p.subhead { text-align: center; }
  h1, h2 { margin-bottom: $brand-spacing-level-2; }
  @include breakpoint (small only) {
    h1, h2 { margin-bottom: $brand-spacing-level-1 * 1.5; }
  }
  h1 { font-size: #{map-get(map-get(map-get($header-styles, medium), 'h2'), 'font-size')}px; }
  h3 { margin-bottom: 15px; }
  p.subhead {
    font-size: 12px;
    color: $text-subhead;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}
section.background-grey { background: $ui-section-grey; }