<section id="js-marker-work" class="featured-work{{#ifpage 'work'}} background-grey{{/ifpage}}">
  <div class="row">
    <div class="column small-12">
      <p class="subhead">My latest and greatest Designs</p>
      <hr class="short">
      <h2>My Featured Work</h2>
    </div>
  </div>

  <div class="row align-middle">
    <div class="column small-12 medium-6 mobile-flush-left">
      <img src="http://www.placehold.it/707x360" alt="">
    </div>
    <div class="column">
      <p class="category">APP</p>
      <h3>Gigaton</h3>
      <p>I designed this landing page while working remotely for an agency based in San Diego. Gigaton is a startup that aims to connect investors with ethical opportunities that will have a positive impact on the planet.</p>
      <p><a href="work-item-app.html" class="button hollow">VIEW CASE STUDY</a></p>
    </div>
  </div>

  <div class="row align-middle">
    <div class="column small-12 medium-6 medium-order-2 mobile-flush-right">
      <img src="http://www.placehold.it/707x360" alt="">
    </div>
    <div class="column medium-order-1">
      <p class="category">WEB DESIGN</p>
      <h3>Gigaton</h3>
      <p>I designed this landing page while working remotely for an agency based in San Diego. Gigaton is a startup that aims to connect investors with ethical opportunities that will have a positive impact on the planet.</p>
      <p><a href="" class="button hollow">VIEW CASE STUDY</a></p>
    </div>
  </div>
  
  <div class="row align-middle">
    <div class="column small-12 medium-6 mobile-flush-left">
      <img src="http://www.placehold.it/707x360" alt="">
    </div>
    <div class="column">
      <p class="category">WEB DESIGN</p>
      <h3>Gigaton</h3>
      <p>I designed this landing page while working remotely for an agency based in San Diego. Gigaton is a startup that aims to connect investors with ethical opportunities that will have a positive impact on the planet.</p>
      <p><a href="" class="button hollow">VIEW CASE STUDY</a></p>
    </div>
  </div>

</section>
