<footer>
  <div class="row">
    <div class="column medium-3">
      <a href="/" class="logo"><img src="assets/img/logo.svg" alt=""></a>
    </div>

    <div class="column medium-6">
    <nav class="footer">
        <ul class="menu">
          <li class="active"><a href="home.html">home</a></li>
          <li><a href="">my work</a></li>
          <li><a href="about.html">about me</a></li>
          <li><a href="contact.html">let's talk</a></li>
        </ul>
    </div>
      </nav>
    <div class="column medium-3">
      <nav class="social">
        <ul class="menu">
          <li><a href=""><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a href=""><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a href=""><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a href=""><img src="assets/img/icon-twitter.svg" alt=""></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <p>Designed by Marcus Handa.</p>
  <p>&copy; 2016 Marcus Handa. All Rights Reserved</p>

</footer>