
<footer>
  <div class="row align-center align-middle">
    <div class="column">
      <a href="/" class="logo">
        {{>logo-svg}}
      </a>
    </div>

    <div class="column small-12 medium-8 large-6">
      <nav class="footer">
        <div class="menu-centered">
          <ul class="vertical medium-horizontal menu">
            <li class="active"><a href="home.html">home</a></li>
            <li><a href="">my work</a></li>
            <li><a href="about.html">about me</a></li>
            <li><a href="contact.html">let's talk</a></li>
          </ul>
        </div>  
      </nav>
    </div>
    <div class="column">
      <nav class="social menu-centered">
        <ul class="menu">
          <li><a target="_blank" href="#"><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a target="_blank" href="#"><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a target="_blank" href="#"><img src="assets/img/icon-twitter.svg" alt=""></a></li>
          <li><a target="_blank" href="#"><img src="assets/img/icon-twitter.svg" alt=""></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <p class="flush-bottom">
  Designed by Marcus Handa. <br>
  &copy; 2016 Marcus Handa. All Rights Reserved
  </p>

</footer>

</div> <!-- CLOSE .off-canvas-content for mobile nav wrap - DO NOT REMOVE -->
