<section class="testimonials{{#ifpage 'home' }} background-grey{{/ifpage}}">
  <div class="row">
    <div class="column small-12">
      <p class="subhead">What my clients say about me</p>
      <hr class="short">
      <h2 class="less-spacing">Testimonials</h2>
      
      
      <div class="testimonial-slider">
        {{#repeat 4}}
        <div>

          <!-- TODO: [SLIDER] use slick.js -->

          <p class="limit-width-center">“I’ve worked with Marcus on several websites. He is a rare combination of keen design sense coupled with modern workflow (Sketch 3 and Zeplin). He makes my life as a developer easier. He handles the design freeing me up to focus on the code.”</p>

          <center> <!-- HACK -->
            <img class="rounded profile" src="http://www.placehold.it/200x200" alt="">
          </center>

          <p class="name">James Stone - Web Developer</p>
          <p class="company">James Stone Intermedia</p>


        </div>    

        {{/repeat}}
      </div>
    </div>
  </div>
</section>
