<section {{#unlesspage 'home'}}class="background-grey"{{/unlesspage}}>
  <div class="row">
    <div class="column small-12">
      <p class="subhead">Get in touch</p>
      <hr class="short">
      <h2 class="less-spacing">Let’s work together!</h2>

      <p class="limit-width-center">Click the button below and let’s get started or feel free to look through the case studies for a deeper look at some of my latest projects.</p>
      <p class="text-center"> <a href="" class="button large">Let's talk</a> </p>
    </div>
  </div>
</section>